<div class="container-fluid d-flex flex-row footer">
  <div class="col-2 d-flex align-items-center justify-content-center social-media-wrapper">
    <button class="btn btn-outline-primary social-media-button" id="linkedin-button" aria-label="My LinkedIn"
      onclick="window.open('https://www.linkedin.com/in/ofont99')">
      <img src="../../assets/contact/linkedin-image.webp" class="social-media-icon" alt="LinkedIn logo" />
    </button>
    <button class="btn btn-outline-primary social-media-button" id="github-button" aria-label="My Github"
      onclick="window.open('https://github.com/oscarfont')">
      <img src="../../assets/contact/github-image.webp" class="social-media-icon" alt="Github logo" />
    </button>
  </div>
  <div class="col d-flex align-items-center justify-content-center" style="gap:0.5rem">
    <img src="../../assets/cover/osi.webp" class="license-logo" alt="Open Source Software logo">
    <span class="license-text">
      Software under GNU v3 license
    </span>
  </div>
  <div class="col-2 d-flex align-items-center justify-content-center">
    <img src="../../assets/cover/ofg-logo.webp" class="ofg-logo" alt="OFG logo" />
  </div>
</div>