#notfound-page {
  min-height: 100vh;
  background-image: url('../../assets/background/quarter-hexagon-bottom-left.png'), url('../../assets/background/quarter-hexagon-top-right.png');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
}

.title {
  font-family: var(--titles-font);
  color: var(--accent-color-1);
  font-size: var(--subtitles-size);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  font-family: var(--subtitles-font);
  font-size: var(--subtitles-size);
  color: var(--secondary-color);
}

.btn.btn-primary {
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
  background-color: #044179;
}

#face-icon {
  font-size: 10rem;
}