<!--<body>
    <div class="row justify-content-center" style="text-align: center; margin: 0; padding: 1rem;">
        <div class="container-fluid">
            <div class="card" style="width: 100%; height: 100%;">
                <div class="card-header">
                    <h4>404 Not Found</h4>
                </div>
                <div id="message" class="card-body">
                   Oops...The URL you are trying to access does not exist. You may want to visit home.
                   <fa-icon class="body-icon" [icon]="sadFaceIcon"></fa-icon>
                   <a class="btn btn-primary" href="#" role="button">Home</a>
                </div>
            </div>
        </div>
    </div>
</body>-->
<div class="row header-row">
    <div class="page-title-container">
        <h1 class="title-text" id="cover-title">ÓSCAR FONT</h1>
        <p class="subtitle-text" id="cover-subtitle">Software Engineering and AI enthusiast</p>
    </div>
    <div class="page-subtitle-container">
        <p class="subtitle-text" id="cover-headline">European Master in Software Engineering Student, with Full Stack Web Engineering Skills.</p>
    </div>
</div>
<div class="row body-row">
    <!--<div class="col-6" style="height: 100vh;">
        Picture
    </div>
    <div class="col-6" style="height: 100vh;">
        <div class="card standard-card">
            <div class="card-content">
                <div class="card-body">
                    <h6>Timer: {{this.timerString}} s</h6>
                    <div id="element-user-list" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let number of this.numbersArray" [id]="'element_'+this.numbersArray.indexOf(number)" class="example-box" cdkDrag>{{number}}</div>
                    </div>
                    <button (click)="startGame()">Start</button>  
                </div>
            </div>
        </div>
    </div>-->
</div>
