#message{
    font-family: "Hind";
    color: #001E3E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-icon{
    font-size: 10rem;
}

.btn.btn-primary{
    font-family: "Montserrat";
    font-weight: bold;
    color: white;
    background-color: #044179;
}