<body>
    <div class="row justify-content-center" style="text-align: center; margin: 0; padding: 1rem;">
        <div class="container-fluid">
            <div class="card" style="width: 100%; height: 100%;">
                <div class="card-header">
                    <h4>404 Not Found</h4>
                </div>
                <div id="message" class="card-body">
                   Oops...The URL you are trying to access does not exist. You may want to visit home.
                   <fa-icon class="body-icon" [icon]="sadFaceIcon"></fa-icon>
                   <a class="btn btn-primary" href="#" role="button">Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
