<div class="modal-header">
  <h4 *ngIf="!this.isUserLoggedIn()" class="modal-title">Who are you? 🧐</h4>
  <h4 *ngIf="this.isUserLoggedIn()" class="modal-title">Welcome!</h4>
  <button class="close close-button" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form *ngIf="!this.isUserLoggedIn()" id="authForm" [formGroup]="formData" (ngSubmit)="onSignIn(formData.value)"
    class="form-signin">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="username" class="form-control form-box" formControlName="userName" placeholder="Username" required
      autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control form-box" formControlName="password" placeholder="Password" required>
  </form>
  <div *ngIf="this.errorMessage" class="error-box">ERROR: {{this.errorMessage}}</div>
  <div *ngIf="this.isUserLoggedIn()" class="logged-message">Hope you are having fun in the web {{this.name}}</div>
</div>
<div class="modal-footer text-center">
  <!--<button class="btn btn-outline-dark" (click)="closeModal()">Close</button>-->
  <button *ngIf="!this.isUserLoggedIn()" class="btn btn-outline-primary" form="authForm">Sign in</button>
  <button *ngIf="this.isUserLoggedIn()" class="btn btn-outline-primary" (click)="this.onSignOut()">Sign out</button>
</div>
