/*NAVBAR STANDAR COLORS*/
.navbar{
    /*background-color: rgba(236,235,254,0.15);*/
    background-color: #EEF7FF;
    padding: 0;
    margin-top: 0;
    border-bottom: 4px solid;
    border-color: #044179;
}

/*NAVBAR STANDARD OPTION*/
.nav-link{
    font-family: "Montserrat";
    font-size: large;
    text-align: center;
    color: #044179;
}

/*NAVBAR OPTION MOUSE HOVER*/
.nav-link:hover{
    background-color: rgba(0,0,0,0.15);
}

/*NAVBAR OPTION SELECTED*/
.nav-link.active{
    font-family: "Montserrat";
    background-color:rgba(0,0,0,0.15);
    font-weight: "bold";
    color: #EEF7FF;
    border-top: 4px solid;
    /*border-left: 4px solid;
    border-right: 4px solid;
    border-bottom: 4px solid;*/
    border-color: #044179;
}

#home-tab, #portfolio-tab, #blog-tab, #contact-tab,#login-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#home-icon, #portfolio-icon, #blog-icon, #contact-icon, #user-icon{
    margin-left: 1rem;
    margin-right: 1rem;
}