/*NAVBAR STANDAR COLORS*/
.navbar{
    background-color: #f9655b70;
    padding: 0;
    margin-top: 0;
}

/*NAVBAR STANDARD OPTION*/
.nav-link{
    font-family: "Montserrat";
    font-size: large;
    text-align: center;
    color: #557d48;
    text-shadow: 2px 2px #f2f2f2;
}

/*NAVBAR OPTION MOUSE HOVER*/
.nav-link:hover{
    background-color: #f9655b70;
}

/*NAVBAR OPTION SELECTED*/
.nav-link.active{
    font-family: "Montserrat";
    background-color: transparent;
    font-weight: bold;
    color: #f2f2f2;
    background-color: #f2f2f259;
    border-radius: 2px;
    text-shadow: 2px 2px #557d48;
}

#home-tab, #portfolio-tab, #blog-tab, #contact-tab,#login-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-link #home-icon, .nav-link #portfolio-icon, .nav-link #blog-icon, .nav-link #contact-icon, #user-icon{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #557d48;
    filter:drop-shadow(2px 2px #f2f2f2);
}

.nav-link.active #home-icon, .nav-link.active #portfolio-icon, .nav-link.active #blog-icon, .nav-link.active #contact-icon, .nav-link.active #user-icon{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #f2f2f2;
    filter:drop-shadow(2px 2px #557d48);
}