<nav id="navbar-div" class="navbar fixed-bottom">
    <div class="container-fluid" style="padding: 0;">
        <div class="row" style="width: 100%; margin: 0;">
            <div class="col" style="padding: 0;">
                <a id="home-tab" (click)="onClick('home-tab')" class="nav-link active" routerLink="/home"> <fa-icon id="home-icon" [icon]="homeIcon"></fa-icon>Home</a>
            </div>
            <div class="col" style="padding: 0;">
                <a id="portfolio-tab" (click)="onClick('portfolio-tab')" class="nav-link" routerLink="/portfolio"><fa-icon id="portfolio-icon" [icon]="folderIcon"></fa-icon>Portfolio</a>
            </div>
            <div class="col" style="padding: 0;">
                <a id="blog-tab" (click)="onClick('blog-tab')" class="nav-link" routerLink="/blog"><fa-icon id="blog-icon" [icon]="blogIcon"></fa-icon>Blog</a>
            </div>
            <div class="col" style="padding: 0;">
                <a id="contact-tab" (click)="onClick('contact-tab')" class="nav-link" routerLink="/contact"> <fa-icon id="contact-icon" [icon]="inboxIcon"></fa-icon>Contact</a>
            </div>
        </div>
    </div>
</nav>
