<nav id="navbar-div" [ngClass]="'navbar ' + navbarClass">
  <div class="container-fluid" style="padding:0 0 0 0.425rem;">
    <div class="row d-flex align-items-center justify-content-center" style="width: 100%; margin: 0;">
      <div id="fake-option" class="col-1" style="padding: 0; margin-right: auto;">
        <!--<a id="login-tab" (click)="openAuthModal()" class="nav-link"> <fa-icon id="user-icon" [icon]="userIcon"></fa-icon></a>-->
      </div>
      <div class="col" style="padding: 0;">
        <a id="home-tab" class="nav-link" routerLink="/home" routerLinkActive="active">
          <fa-icon id="home-icon" [icon]="homeIcon"></fa-icon>
          <span id="home-title">Home</span>
        </a>
      </div>
      <div class="col" style="padding: 0;">
        <a id="portfolio-tab" class="nav-link" routerLink="/portfolio" routerLinkActive="active">
          <fa-icon id="portfolio-icon" [icon]="folderIcon"></fa-icon>
          <span id="portfolio-title">Portoflio</span>
        </a>
      </div>
      <div class="col" style="padding: 0;">
        <a id="blog-tab" class="nav-link" routerLink="/blog" routerLinkActive="active">
          <fa-icon id="blog-icon" [icon]="blogIcon"></fa-icon>
          <span id="blog-title">Blog</span>
        </a>
      </div>
      <div class="col" style="padding: 0;">
        <a id="contact-tab" class="nav-link" routerLink="/contact" routerLinkActive="active">
          <fa-icon id="contact-icon" [icon]="inboxIcon"></fa-icon>
          <span id="contact-title">Contact</span>
        </a>
      </div>
      <div [ngClass]="authClass" style="padding: 0;">
        <a id="user-tab" (click)="openAuthModal()" class="nav-link">
          <fa-icon id="user-icon" [icon]="userIcon"></fa-icon>
          <span id="user-title"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
