.blog-card{
    margin: 2rem 0rem 0rem 0rem;
    border-top: 4px solid #044179;
    text-align: justify;
}

#message{
    font-family: "Hind";
    color: #001E3E;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}