#blog-detail-page {
  min-height: 100vh;
  background-image: url('../../../assets/background/quarter-hexagon-top-left.webp'), url('../../../assets/background/quarter-hexagon-bottom-right.webp');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

.blog-detail-body {
  text-align: center;
  margin-top: 3.5rem;
  padding: 1rem;
}

.blog-title {
  font-family: var(--titles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
  font-weight: 600;
}

.blog-summary {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}

.blog-card {
  margin: 2rem 0rem 0rem 0rem;
  text-align: justify;
}

.tag-box {
  background-color: var(--main-color);
  padding: 0.25rem;
  border-left: 3px solid var(--accent-color-1);
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--accent-color-2);
}

.date-text {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--accent-color-1);
}

::ng-deep.heading-text {
  font-family: var(--titles-font);
  font-size: var(--titles-size);
  color: var(--accent-color-1);
}

::ng-deep.subtitle-text {
  font-family: var(--subtitles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
}

::ng-deep.body-text {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}