#blog-detail-page {
  height: 100vh;
  overflow-y: auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-detail-body {
  max-height: 100vh;
  text-align: center;
  margin-top: 3.5rem;
  padding: 1rem;
}

.blog-title {
  font-family: var(--titles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
  font-weight: 600;
}

.blog-summary {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}

.blog-card {
  margin: 2rem 0rem 0rem 0rem;
  text-align: justify;
  font-family: var(--body-font);
  color: var(--secondary-color);
}
