<div class="container-fluid d-flex flex-column" style="height:100vh;">
  <app-background [leftHex]="backgroundLeft.name" [leftHexPos]="backgroundLeft.pos" [rightHex]="backgroundRight.name"
    [rightHexPos]="backgroundRight.pos">
  </app-background>
  <div class="justify-content-center" style="text-align: center; margin-top: 3.5rem; padding: 1rem;">
    <!-- HEADER TITLE CARD-->
    <div class="card standard-card" style="width: 97%;">
      <div class="card-header header-container">
        <div style="width:2rem;"></div>
        <h4 class="blog-title">{{this.blogTitle}}</h4>
        <div style="width:2rem;"></div>
      </div>
      <div class="blog-summary" style="padding: 1rem;">
        {{this.blogSummary}}
      </div>
    </div>

    <!-- BLOG POST CONTENT-->
    <div class="card standard-card blog-card" style="width: 97%;">
      <div class="card-body" [innerHTML]="this.blogContent"></div>
      <!--<img src="this.picsURL[0]">-->
    </div>
  </div>
</div>
