<div class="container-fluid d-flex flex-column align-items-center" id="blog-detail-page">
  <div class="justify-content-center blog-detail-body body-row">
    <!-- HEADER TITLE CARD-->
    <div class="card standard-card">
      <div class="card-header header-container">
        <div style="width:2rem;"></div>
        <h4 class="blog-title">{{this.blogTitle}}</h4>
        <div style="width:2rem;"></div>
      </div>
      <div class="blog-summary" style="padding: 1rem;">
        {{this.blogSummary}}
      </div>
      <div class="card-footer d-flex justify-content-between">
        <span class="tag-box">{{this.blogCategory}}</span>
        <span class="date-text">{{this.blogDate}}</span>
      </div>
    </div>

    <!-- BLOG POST CONTENT-->
    <div class="card standard-card blog-card">
      <article class="card-body" [innerHTML]="this.blogContent"></article>
    </div>
  </div>
</div>