#phrase-header{
    margin-top: 1rem;
}

#contact-image{
    width: 100%;
    min-width: 22rem;
    max-width: 50rem;
    border-radius: 20rem; 
    margin-top: 1rem;
    padding: 1rem;
    z-index: 1;
}

.under-navbar{
    margin-top: 3.5rem;
}