<body>
    <div class="container-fluid">
        <div class="row justify-content-center" style="text-align: center; padding: 1rem;">
            <div class="card" style="width: 97%;">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p style="font-family: Hind; color:#001E3E;">One good conversation can shift the direction of change forever</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Linda Lam</cite></footer>
                    </blockquote>
                </div>
                <div class="card-header">
                    <h4>Let's have a conversation :)</h4>
                </div>
            </div>
        </div>
        <div id="contact-row" class="row justify-content-center">
            <div class="col">
                <div class="card" style="width: 90%;">
                    <a (click)="copyEmail('oscar.font99@gmail.com', 'contact-row')" [routerLink]="">
                        <img class="card-img-top" src="../../assets/contact/email-image.png" alt="email-icon">
                        <div class="card-body" style="text-align: center; background-color: rgba(0, 0, 0, 0.06);">
                            <h5>Write me an email!</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 90%;">
                    <a href="https://www.linkedin.com/in/ofont99/?locale=en_US" target="_blank" rel="noopener noreferrer">
                        <img class="card-img-top" src="../../assets/contact/linkedin-image.png" alt="Card image cap">
                        <div class="card-body" style="text-align: center; background-color: rgba(0, 0, 0, 0.06);">
                            <h5>Check out my LinkedIn!</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 90%;">
                    <a href="https://github.com/oscarfont" target="_blank" rel="noopener noreferrer">
                        <img class="card-img-top" src="../../assets/contact/github-image.png" alt="Card image cap">
                        <div class="card-body" style="text-align: center; background-color: rgba(0, 0, 0, 0.06);">
                            <h5>Discover my best projects!</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
