<div class="container-fluid d-flex flex-column" style="height:100vh;">
    <app-background [first]="false"
                    [numberOfScreen]="0"></app-background>
    <div class="row flex-grow-1">
        <div class="col-12 col-lg-6 col-xl-6 d-flex flex-column align-items-center justify-content-center">
            <span class="subtitle-text sm-text">One good conversation can shift the direction of change forever - Linda Lam</span>
            <img src="../../assets/contact/me-and-stormi.jpg" width="720rem" style="border-radius: 20rem; margin-top: 1rem;"/>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 d-flex flex-column align-items-center justify-content-center">
            <span class="subtitle-text sm-text">Wanna say hi? Fill the form below :)</span>
            <form style="width:100%;">
                <div class="form-group">
                  <label for="email" class="subtitle-text">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="name" class="subtitle-text">Name</label>
                  <input class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="comment" class="subtitle-text">Comment</label>
                    <textarea class="form-control" id="comment" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>