<div class="col quote-box">
  <p class="quote">"{{this.comment}}"</p>
  <div *ngIf="this.socialMedia" class="d-flex">
    <p class="author">
      {{this.name}} at
      <img src="{{this.companyImageSrc}}" class="author-company" alt="Company Logo" />
    </p>
    <a href="{{this.socialMedia.profileLink}}" target="_blank">
      <img src="{{this.socialMedia.image}}" class="author-company" />
    </a>
  </div>
  <div *ngIf="!this.socialMedia" class="d-flex">
    <p class="author">
      {{this.name}} at
      <img src="{{this.companyImageSrc}}" class="author-company" alt="Company Logo" />
    </p>
  </div>
</div>