<div *ngIf="!this.positioned" class="background row">
  <div>
    <img *ngIf="leftHex" [src]="'../../assets/'+leftHex+'.png'" [ngClass]="leftHexPos+'-'+leftHex">
  </div>
  <div>
    <img *ngIf="rightHex" [src]="'../../assets/'+rightHex+'.png'" [ngClass]="rightHexPos+'-'+rightHex">
  </div>
</div>
<div *ngIf="this.positioned" class="background-abs row">
  <div>
    <img *ngIf="leftHex" [src]="'../../assets/'+leftHex+'.png'" [ngClass]="leftHexPos+'-'+leftHex">
  </div>
  <div>
    <img *ngIf="rightHex" [src]="'../../assets/'+rightHex+'.png'" [ngClass]="rightHexPos+'-'+rightHex">
  </div>
</div>
