<div class="container-fluid d-flex flex-column" id="experience-page">
  <div class="row d-flex flex-grow-1 align-items-center justify-content-center">
    <div id="experienceCarousel" class="card standard-card carousel slide" data-ride="carousel" data-aos="zoom-in-up">
      <ol class="carousel-indicators">
        <li data-target="#experienceCarousel" data-slide-to="0" class="active">
          <div class="d-flex flex-column">
            <span class="indicator-text">Oct 2022 - Nowadays</span>
            <span class="point"></span>
          </div>
        </li>
        <li data-target="#experienceCarousel" data-slide-to="1">
          <div class="d-flex flex-column">
            <span class="indicator-text">Sept 2021 - Oct 2022</span>
            <span class="point"></span>
          </div>
        </li>
        <li data-target="#experienceCarousel" data-slide-to="2">
          <div class="d-flex flex-column">
            <span class="indicator-text">Feb 2021 - Aug 2021</span>
            <span class="point"></span>
          </div>
        </li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row no-gutters">
            <div class="col-sm-5 pic-column">
              <img src="../../assets/cover/personio-hr.webp" class="image-card">
            </div>
            <div class="col-sm-7">
              <div class="experience-card-body">
                <div class="carousel-title">
                  <span class="accent-2">Personio</span> - Backend Engineer
                </div>
                <div class="carousel-body-text align-items-center justify-content-center">
                  <p>Personio has a really ambitious objective, which is to become the main
                    HR Software in Europe. To conquer that goal, I joined the Attendance Management
                    Team to accelerate the products' <span class="accent-2 bold">Backend
                      replatforming</span> to a microservice
                    architecture.
                  </p>
                  <p>Regarding tech, we are using Kotlin for the microservices code, PostgreSQL
                    for the services databases and Docker with Kubernetes to deploy everyhting.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row no-gutters">
            <div class="col-sm-5 pic-column">
              <img src="../../assets/cover/me-gopick.webp" class="image-card">
            </div>
            <div class="col-sm-7">
              <div class="experience-card-body">
                <div class="carousel-title">
                  <span class="accent-2">GoPick</span> - Backend Engineer
                </div>
                <div class="carousel-body-text">
                  <p>
                    Do not wait at long queues. Gopick offers a digital delivery
                    solution for crowded events.
                  </p>
                  <p>
                    The company hired me at a expansion period to change their monolith to
                    a microservices backend. So, I got to <span class="accent-2 bold">develop from
                      scratch one microservice</span>
                    with Node.js, Express.js and Typescript, connected to a PostgreSQL DB
                    and deployed to AWS with Docker and a <span class="accent-1 bold">self-coded
                      Github
                      Action</span>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row no-gutters">
            <div class="col-sm-5 pic-column">
              <img src="../../assets/cover/redsys-intern.webp" class="image-card">
            </div>
            <div class="col-sm-7">
              <div class="experience-card-body">
                <div class="carousel-title">
                  <span class="accent-2">Redsys</span> - Web Developer
                </div>
                <div class="carousel-body-text">
                  <p>
                    Redsys is a company that provides POS devices and payment gateway
                    solutions to companies and works with 96% of all Spains' Banks.
                  </p>
                  <p>
                    The company hired me for the Business Intelligence team. At the team,
                    I contributed to <span class="accent-2 bold">add gitlab</span> to the different
                    code
                    repositories of the
                    team and also worked mainly developing a <span class="accent-1 bold">dashboard
                      for a
                      client</span>. Also
                    fixed and maintained some bugs of other legacy code of the team.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>