#portfolio-page {
  margin-top: 1rem;
}

/* typography classes */
.section-title {
  font-family: var(--titles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
}

.subtitle {
  font-family: var(--subtitles-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}

.section-text {
  font-family: var(--subtitles-font);
  font-size: var(--micro-body-size);
  color: var(--secondary-color);
}

.stat-value {
  font-family: var(--subtitles-font);
  font-size: var(--micro-body-size);
  color: var(--accent-color-2);
  font-weight: bold;
}

.accent-color-1 {
  color: var(--accent-color-1);
}

/* typography classes */

#portfolio-page {
  overflow-x: hidden;
}

.player-img {
  display: block;
  width: 8rem;
}

#experience-row,
#education-row {
  margin-bottom: var(--portfolio-rows-margin);
}

#curent-company-row {
  margin: 3.5rem 0 0 0;
}

#curent-company-stats {
  margin-top: 1rem;
}

/* MICRO DEVICES */
@media (max-width: 280px) {
  #curent-company-row {
    margin: 1.5rem 0 1rem 0;
  }

  #curent-company-stats {
    margin-top: 0rem;
  }
}

/* SMALL DEVICES */
@media (min-width:281px) and (max-width:576px) {
  #curent-company-row {
    margin: 2rem 0 1.5rem 0;
  }

  #curent-company-stats {
    margin-top: 0rem;
  }
}

.company-img {
  display: block;
  width: 100%;
  min-width: 5rem;
  max-width: 6.5rem;
  border-radius: 3.25rem;
}

.personal-stats,
.working-stats {
  margin: 0.75rem 0 0 0.5rem;
}

.player-personal-section {
  margin: 0 0 0 4rem;
}

@media (max-width: 960px) {
  .player-personal-section {
    margin: 0 0 0 4rem;
    z-index: 1;
  }
}

.thumbnail-background {
  margin: 0.5rem;
  background-color: rgb(47, 64, 102, 0.58);
  border-radius: 0.25rem;
}

.experience-img {
  display: block;
  width: 100%;
  min-width: 5rem;
  max-width: 9.25rem;
}

.education-img {
  display: block;
  width: 100%;
  min-width: 3.5rem;
  max-width: 6rem;
}

.stats-border {
  border: 1px solid #f2f3f0;
}

.education-title {
  margin-left: 0.25rem;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/* stats cells */
.stats-cell {
  background-color: rgb(47, 64, 102, 0.58);
  border-bottom: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
}

.padding-cell {
  flex-basis: unset;
  padding: 0.5rem;
}

.highlight-stat {
  border-left: 8px solid var(--accent-color-1);
}

.float-container {
  background-color: rgb(47, 64, 102, 0.58);
  border: none;
}

#check-cv {
  animation: pulse;
  animation-duration: 4s;
  /*animation-delay: 2s;*/
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, paused;
}

#cv-button {
  margin-left: 1rem;
  font-size: 0.8rem;
}
