<div class="container-fluid mobile-scroll" id="portfolio-page" (swipe)="onSwipe($event)">
  <div *ngIf="!this.isMobile">
    <app-background [leftHex]="backgroundLeft.name" [leftHexPos]="backgroundLeft.pos" [rightHex]="backgroundRight.name"
      [rightHexPos]="backgroundRight.pos">
    </app-background>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-6">
      <div *ngIf="this.isMobile">
        <app-background [leftHex]="slide1Background.leftHex" [leftHexPos]="slide1Background.leftHexPos"
          [rightHex]="slide1Background.rightHex" [rightHexPos]="slide1Background.rightHexPos">
        </app-background>
      </div>
      <div class="row" style="margin-top: 3.5rem;">
        <div class="col-5 d-flex flex-row-reverse">
          <img src="../../assets/portfolio/profile-pic-transparent.png" class="player-img" />
        </div>
        <div class="col-7" style="margin-top: 1rem;">
          <div class="subtitle accent-color-1">Óscar Font</div>
          <div class="subtitle">Spanish</div>
          <div class="subtitle">25 years old (26/03/1997)</div>
        </div>
      </div>
      <div class="row flex-column" id="skills-row">
        <div class="player-personal-section">
          <div class="section-title">Software Engineering Skills</div>
        </div>
        <div style="height:24.875rem; margin-left: 0.25rem">
          <div echarts (chartInit)="onChartInit($event)" [options]="this.option" style="height:100%; width:100%;">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" id="preferred-stack">
          <div class="row" style="padding: 0.25rem;">
            <span class="section-title">Preferred</span>
          </div>
          <div class="row d-flex stats-cell">
            <div class="col-10 d-flex flex-column">
              <span class="subtitle">Frontend Framework</span>
              <div class="d-flex flex-row space-between">
                <img src="../../assets/portfolio/angular-logo.png" width="35rem" style="padding: 0 0.5rem 0.5rem 0;" />
                <span class="section-text">Angular</span>
              </div>
            </div>
            <div class="col-2 d-flex flex-row-reverse align-items-center">
              <span class="stat-value">75</span>
            </div>
          </div>
          <div class="row d-flex stats-cell highlight-stat">
            <div class="col-10 d-flex flex-column">
              <span class="subtitle">Backend Framework</span>
              <div class="d-flex flex-row space-between">
                <img src="../../assets/portfolio/nodejs.png" width="35rem" style="padding: 0 0.5rem 0.5rem 0;" />
                <span class="section-text">Node JS</span>
              </div>
            </div>
            <div class="col-2 d-flex flex-row-reverse align-items-center">
              <span class="stat-value">85</span>
            </div>
          </div>
          <div class="row d-flex stats-cell highlight-stat">
            <div class="col-10 d-flex flex-column">
              <span class="subtitle">Database Framework</span>
              <div class="d-flex flex-row space-between">
                <img src="../../assets/portfolio/postgresql.png" width="35rem" style="padding: 0 0.5rem 0.5rem 0;" />
                <span class="section-text">PostgreSQL</span>
              </div>
            </div>
            <div class="col-2 d-flex flex-row-reverse align-items-center">
              <span class="stat-value">90</span>
            </div>
          </div>
          <div class="row d-flex stats-cell">
            <div class="col-10 d-flex flex-column">
              <span class="subtitle">Vendor Host</span>
              <div class="d-flex flex-row space-between">
                <img src="../../assets/portfolio/aws.png" width="40rem" style="padding: 0.5rem 0.5rem 0.5rem 0;" />
                <span class="section-text">AWS</span>
              </div>
            </div>
            <div class="col-2 d-flex flex-row-reverse align-items-center">
              <span class="stat-value">80</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-6">
      <div *ngIf="this.isMobile">
        <app-background [rightHex]="slide2Background.rightHex" [rightHexPos]="slide2Background.rightHexPos">
        </app-background>
      </div>
      <div class="row" id="curent-company-row">
        <div class="col-4 col-lg-2 col-xl-2">
          <img src="../../assets/portfolio/personio-logo.png" class="company-img" />
        </div>
        <div class="col-8 col-lg-10 col-xl-10" id="current-company-stats">
          <div class="subtitle accent-color-1">Software Engineer</div>
          <div class="subtitle">Under contract since 1/10/2022</div>
          <div class="subtitle">Breakthrough prospect</div>
        </div>
      </div>
      <div class="row flex-column">
        <div class="row" style="margin-left: 0.25rem;">
          <div class="section-title">Last experiences</div>
        </div>
        <div class="d-flex flex-row less-bottom-margin" id="experience-row">
          <div class="col-4 d-flex flex-column align-items-center" style="text-align: center;">
            <img src="../../assets/portfolio/gopick-logo.png" class="experience-img thumbnail-background" />
            <div class="subtitle">Backend Engineer</div>
            <div class="section-text">14 months, full-time job</div>
          </div>
          <div class="col-4 d-flex flex-column align-items-center" style="text-align: center;">
            <img src="../../assets/portfolio/redsys.png" class="experience-img thumbnail-background" />
            <div class="subtitle">Web Dev and BI</div>
            <div class="section-text">8 months, part-time job</div>
          </div>
          <div class="col-4 d-flex flex-column align-items-center" style="text-align: center;">
            <img src="../../assets/portfolio/fourthhub.png" class="experience-img thumbnail-background" />
            <div class="subtitle">FullStack Engineer</div>
            <div class="section-text">10 months, full-time job</div>
          </div>
        </div>
      </div>
      <div class="row flex-column">
        <div class="row" style="margin-left: 0.25rem">
          <div class="section-title">Education</div>
        </div>
        <div class="d-flex flex-row less-bottom-margin" id="education-row">
          <div class="col-4 d-flex flex-column align-items-center">
            <img src="../../assets/portfolio/upm.png" class="education-img thumbnail-background" />
            <div class="d-flex flex-column" style="text-align: center;">
              <div class="subtitle">Master EMSE</div>
              <div class="section-text">2020 - 2022</div>
            </div>
          </div>
          <div class="col-4 d-flex flex-column align-items-center">
            <img src="../../assets/portfolio/tum-logo.png" class="education-img thumbnail-background" />
            <div class="d-flex flex-column" style="text-align: center;">
              <div class="subtitle">ERASMUS</div>
              <div class="section-text">1 semester, 2019</div>
            </div>
          </div>
          <div class="col-4 d-flex flex-column align-items-center">
            <img src="../../assets/portfolio/upf-logo.png" class="education-img thumbnail-background" />
            <div class="d-flex flex-column" style="text-align: center;">
              <div class="subtitle">CS Bachelor</div>
              <div class="section-text">2015 - 2019</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-column" id="details-row">
        <div class="col" id="other-highlights">
          <div class="row d-flex flex-column no-margin">
            <div class="row" style="padding: 0.25rem;">
              <span class="section-title">Other stats</span>
            </div>
            <div class="row">
              <div
                class="col-6 col-sm col-md col-lg-6 d-flex justify-content-between stats-cell highlight-stat align-items-center">
                <img src="../../assets/portfolio/espana.png" width="28rem" style="margin-bottom: 0.5rem;" />
                <span class="stat-value"> Native</span>
              </div>
              <div
                class="col-6 col-sm col-md col-lg-6 d-flex justify-content-between stats-cell highlight-stat align-items-center">
                <img src="../../assets/portfolio/catalonia.png" width="28rem" style="margin-bottom: 0.5rem" />
                <span class="stat-value">Native</span>
              </div>
              <div class="col-6 col-sm col-md col-lg-6 d-flex justify-content-between stats-cell align-items-center">
                <img src="../../assets/portfolio/reino-unido.png" width="28rem" style="margin-bottom: 0.5rem" />
                <span class="stat-value">C1</span>
              </div>
              <div class="col-6 col-sm col-md col-lg-6 d-flex justify-content-between stats-cell align-items-center">
                <img src="../../assets/portfolio/alemania.png" width="28rem" style="margin-bottom: 0.5rem" />
                <span class="stat-value">B2</span>
              </div>
            </div>
          </div>
          <div class="row d-flex flex-column">
            <div class="col d-flex stats-cell highlight-stat padding-cell" style="justify-content: space-between;">
              <span class="section-text">Teamwork</span>
              <span class="stat-value">90</span>
            </div>
            <div class="col d-flex stats-cell padding-cell" style="justify-content: space-between;">
              <span class="section-text">Creativity</span>
              <span class="stat-value">80</span>
            </div>
            <div class="col d-flex stats-cell highlight-stat padding-cell" style="justify-content: space-between;">
              <span class="section-text">Decisions</span>
              <span class="stat-value">85</span>
            </div>
            <div class="col d-flex stats-cell padding-cell" style="justify-content: space-between;">
              <span class="section-text">Mental Strength</span>
              <span class="stat-value">80</span>
            </div>
            <div class="col d-flex stats-cell highlight-stat padding-cell" style="justify-content: space-between;">
              <span class="section-text">Leadership</span>
              <span class="stat-value">90</span>
            </div>
          </div>
          <div class="row d-flex flex-column">
            <div class="col d-flex align-items-center padding-cell" style="justify-content: center;">
              <span class="section-text" id="check-cv">Wanna <span class="accent-1">know more</span> details?</span>
              <span> <a class="btn btn-outline-primary" id="cv-button" (click)="this.openPdf()">Check my CV!</a> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
