/* BODY ROW */
.body-row{
    padding: 0rem 2.5rem 0rem 2.5rem;
    z-index: 2;
}

#portfolio-page{
    height: 100%;
    z-index: 2;
}

.player-img{
    width: 8rem;
}

.company-img{
    width: 6rem;
    padding: 0.25rem;
    border-radius: 3rem;
}

.personal-stats, .working-stats{
    margin: 0.75rem 0 0 0.5rem;
}

.player-personal-section{
    margin: 0 0 0 4rem;
}

#skills-row, #experience-row, #education-row{
    padding: 0.5rem;
}

.portfolio-thmb-img{
    margin: 0.5rem;
    background-color: rgb(47, 64, 102, 0.58);
    border-radius: 0.25rem;
}

.stats-border{
    border: 1px solid #f2f3f0;
}

.less-bottom-margin{
    margin-bottom: -1rem;
}

.education-title{
    margin-left: 0.25rem;
}

.no-margin{
    margin: 0!important;
}