#new-post-page {
  min-height: 100vh;
  background-image: url('../../../assets/background/quarter-hexagon-top-left.webp'), url('../../../assets/background/quarter-hexagon-bottom-right.webp');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

#inputCategory,
#inputTitle,
#editor,
#inputSummary {
  margin: 0rem 0rem 1rem 0rem;
}

#publishButton {
  margin: 1rem 0rem 0rem 0rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-box {
  background-color: rgb(47, 64, 102, 0.58);
  border: 1px solid var(--main-color);
  color: var(--secondary-color);
}

.blog-title {
  font-family: var(--titles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
  font-weight: 600;
}

.blog-text {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}