<div class="container-fluid d-flex flex-column" style="height:100vh;">
  <app-background [leftHex]="backgroundLeft.name" [leftHexPos]="backgroundLeft.pos" [rightHex]="backgroundRight.name"
    [rightHexPos]="backgroundRight.pos"></app-background>
  <div class="row flex-grow-1">
    <div class="col-12 d-flex flex-column align-items-center" style="margin-top: 3.5rem;">
      <!-- HEADER TITLE CARD -->
      <div class="card" style="width: 97%;">
        <div class="card-header header-container">
          <h4>New Post</h4>
        </div>
        <div id="message" class="card-body">
          It's time to get creative, write whatever you feel like to!
        </div>
      </div>
      <div style="width: 97%; margin:2rem 0rem 0rem 0rem;">
        <form id="postForm" [formGroup]="formData" (ngSubmit)="this.onPublishBlog(formData.value)">
          <input type="text" id="inputTitle" class="form-control" formControlName="title" placeholder="Post Title"
            required autofocus>
          <input type="category" id="inputCategory" class="form-control" formControlName="category"
            placeholder="Category" required>
          <input type="summary" id="inputSummary" class="form-control" formControlName="summary"
            placeholder="Summary of the Blog" required>
          <angular-editor formControlName="htmlContent" [config]="editorConfig"></angular-editor>
          <button class="btn btn-lg btn-primary" id="publishButton" type="submit">Publish!</button>
        </form>
      </div>
    </div>
  </div>
</div>
