<div id="new-post-page" class="container-fluid d-flex flex-column">
  <div class="row flex-grow-1">
    <div class="col-12 d-flex flex-column align-items-center" style="margin-top: 3.5rem;">
      <!-- HEADER TITLE CARD -->
      <div class="card standard-card" style="width: 97%;">
        <div class="card-header header-container">
          <h4 class="blog-title">New Post</h4>
        </div>
        <div id="message" class="card-body">
          <span class="blog-text">It's time to get creative, write whatever you feel like to!</span>
        </div>
      </div>
      <!-- FORM OF NEW POST -->
      <div style="width: 97%; margin:2rem 0rem 0rem 0rem;">
        <form id="postForm" [formGroup]="formData" (ngSubmit)="this.onPublishBlog(formData.value)">
          <input id="inputTitle" class="form-control form-box" formControlName="title" placeholder="Enter a title..."
            required>
          <input id="inputCategory" class="form-control form-box" formControlName="category"
            placeholder="Enter the category..." required>
          <input id="inputSummary" class="form-control form-box" formControlName="summary"
            placeholder="Enter a summary..." required>
          <textarea [froalaEditor]="this.options" formControlName="htmlContent"></textarea>
          <button class="btn btn-lg btn-outline-primary" id="publishButton">Publish</button>
        </form>
      </div>
    </div>
  </div>
</div>