<div class="container-fluid d-flex flex-column align-items-center" id="contact-page">
  <div class="row d-flex flex-column flex-grow-1 align-items-center justify-content-center" style="width:100%">
    <div class="subtitle-heading" style="margin-bottom: 4rem;">
      What <span class="accent-2">colleagues</span>
      <span class="accent-1"> say</span> about <span class="accent-2">me</span>...
    </div>
    <div *ngIf="!this.isMobile">
      <div class="card standard-card" id="comments-slider">
        <div class="slider">
          <div class="logos">
            <div class="d-flex flex-row justify-content-around" style="gap: 1rem">
              <app-comment *ngFor="let comment of this.comments" [name]="comment?.name" [project]="comment.project"
                [companyImageSrc]="comment.companyImageSrc" [comment]="comment.comment"
                [socialMedia]="comment?.socialMedia">
              </app-comment>
            </div>
          </div>
          <div class="logos">
            <span class="second">
              <div class="d-flex flex-row justify-content-around" style="gap: 1rem">
                <app-comment *ngFor="let comment of this.comments" [name]="comment?.name" [project]="comment.project"
                  [companyImageSrc]="comment.companyImageSrc" [comment]="comment.comment"
                  [socialMedia]="comment?.socialMedia">
                </app-comment>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.isMobile" style="width:100%">
      <div id="colleaguesCommentsCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#colleaguesCommentsCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#colleaguesCommentsCarousel" data-slide-to="1"></li>
          <li data-target="#colleaguesCommentsCarousel" data-slide-to="2"></li>
          <li data-target="#colleaguesCommentsCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card standard-card quote-slide">
              <div class="col quote-box">
                <p class="quote">
                  "Very good developer. Always solving problems the best way possible
                  and in a sensiteve
                  way"</p>
                <p class="author">Someone at <img src="../../assets/portfolio/redsys.webp" class="author-company"
                    alt="Redsys Company Logo" /></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card standard-card quote-slide">
              <div class="col quote-box">
                <p class="quote">"Great engineer and better coalleague."</p>
                <p class="author">Someone at <img src="../../assets/portfolio/fourthhub.webp" class="author-company"
                    alt="Fourthub Company Logo" />
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card standard-card quote-slide">
              <div class="col quote-box">
                <p class="quote">"Fast learnear and a passionate engineer. Very good team mate. Long live to the
                  Backend
                  Team!"</p>
                <p class="author">Someone at <img src="../../assets/cover/gopick-logo.webp" alt="Gopick Company Logo"
                    class="author-company-square" />
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card standard-card quote-slide">
              <div class="col quote-box">
                <p class="quote">"A problem solver by nature. Technically proficient and great team mate."</p>
                <p class="author">Someone at <img src="../../assets/portfolio/upm.webp" class="author-company-square"
                    alt="UPM Logo" />
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#colleaguesCommentsCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#colleaguesCommentsCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>