<div class="container-fluid d-flex flex-column" id="contact-page">
  <!-- col-6 col-sm col-md col-lg col-xl col-xxl-->
  <app-background *ngIf="this.background" [leftHex]="this.background.leftHex" [leftHexPos]="this.background.leftHexPos">
  </app-background>
  <div class="row d-flex flex-column align-items-center justify-content-center" style="height:100%">
    <div class="subtitle-heading" style="margin-bottom: 4rem;">What colleagues say about me...
    </div>
    <div class="card standard-card container">
      <div class="slider">
        <div class="logos">
          <div class="d-flex flex-row justify-content-around" style="gap: 1rem">
            <div class="col quote-box">
              <p class="quote">
                "Very good developer. Always solving problems the best way possible
                and in a sensiteve
                way"</p>
              <p class="author">Someone at <img src="../../assets/portfolio/redsys.png" class="author-company" /></p>
            </div>
            <div class="col quote-box">
              <p class="quote">"Great engineer and better coalleague."</p>
              <p class="author">Someone at <img src="../../assets/portfolio/fourthhub.png" class="author-company" /></p>
            </div>
            <div class="col quote-box">
              <p class="quote">"Fast learnear and a passionate engineer. Very good team mate. Long live to the Backend
                Team!"</p>
              <p class="author">Someone at <img src="../../assets/portfolio/gopick-logo.jpeg"
                  class="author-company-square" />
              </p>
            </div>
            <div class="col quote-box">
              <p class="quote">"A problem solver by nature. Technically proficient and great team mate."</p>
              <p class="author">Someone at <img src="../../assets/portfolio/upm.png" class="author-company-square" />
              </p>
            </div>
          </div>
        </div>
        <div class="logos">
          <span class="second">
            <div class="d-flex flex-row justify-content-around" style="gap: 1rem">
              <div class="col quote-box">
                <p class="quote">
                  "Very good developer. Always solving problems the best way possible
                  and in a sensiteve
                  way"</p>
                <p class="author">Someone at <img src="../../assets/portfolio/redsys.png" class="author-company" /></p>
              </div>
              <div class="col quote-box">
                <p class="quote">"Great engineer and better coalleague."</p>
                <p class="author">Someone at <img src="../../assets/portfolio/fourthhub.png" class="author-company" />
                </p>
              </div>
              <div class="col quote-box">
                <p class="quote">"Fast learnear and a passionate engineer. Very good team mate. Long live to the Backend
                  Team!"</p>
                <p class="author">Someone at <img src="../../assets/portfolio/gopick-logo.jpeg"
                    class="author-company-square" />
                </p>
              </div>
              <div class="col quote-box">
                <p class="quote">"A problem solver by nature. Technically proficient and great team mate."</p>
                <p class="author">Someone at <img src="../../assets/portfolio/upm.png" class="author-company-square" />
                </p>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
