<div class="row header-row">
    <div class="page-title-container">
        <h1 class="title-text" id="cover-title">ÓSCAR FONT</h1>
        <p class="subtitle-text" id="cover-subtitle">Software Engineering and AI enthusiast</p>
    </div>
    <div class="page-subtitle-container">
        <p class="subtitle-text" id="cover-headline">European Master in Software Engineering Student, with Full Stack Web Engineering Skills.</p>
    </div>
</div>
<div class="row body-row">
    <!--<div class="col-6" style="height: 100vh;">
        Picture
    </div>
    <div class="col-6" style="height: 100vh;">
        <div class="card standard-card">
            <div class="card-content">
                <div class="card-body">
                    <h6>Timer: {{this.timerString}} s</h6>
                    <div id="element-user-list" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let number of this.numbersArray" [id]="'element_'+this.numbersArray.indexOf(number)" class="example-box" cdkDrag>{{number}}</div>
                    </div>
                    <button (click)="startGame()">Start</button>  
                </div>
            </div>
        </div>
    </div>-->
</div>