<div class="container-fluid d-flex flex-column" id="cover-page">
  <app-background [first]="true" [numberOfScreen]="0"></app-background>
  <div class="row flex-grow-1 body-row">
    <div class="col-6 d-flex flex-column align-items-center">
      <img src="../../assets/me-transparent-2.png" class="flex-grow-1" id="cover-pic">
      <div id="title-container">
        <h1 class="main-heading" style="white-space: nowrap; margin-bottom: 1.5rem;">&lt;h1&gt;ÓSCAR <span
            class="accent-1">FONT&lt;/h1&gt;</span></h1>
        <h2 class="subtitle-heading"><span class="accent-1">Software Engineering</span> and <span class="accent-1">AI
            enthusiast</span> expermienting with the world wide web</h2>
      </div>
    </div>
    <div class="d-none d-md-flex d-lg-flex d-xl-flex col-6 flex-column align-items-center" style="padding-top: 4rem;">
      <div id="question-container">
        <h2 class="heading-question" id="question">Wanna' see what I do as a <span class="accent-1">Software
          </span><span class="accent-2">Engineer</span> ?</h2>
      </div>
      <div class="card standard-card" id="game-card">
        <div class="card-body" id="game-card-body" style="padding: 2rem;">
          <p class="game-instructions"><span class="accent-1">Order</span> as <span class="accent-2">fast</span> as you
            can the following list from smaller to largest,
            left to right respectively, dragging the numbers!</p>
          <h6 class="timer">Timer: <span class="accent-2">{{this.timerString}}</span> s</h6>
          <div id="item-user-list" cdkDropList cdkDropListOrientation="horizontal" class="items-list"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let number of this.numbersArray" [id]="'element_'+this.numbersArray.indexOf(number)"
              class="item-box" cdkDrag [cdkDragDisabled]="this.startBool"><span class="sm-text">{{number}}</span></div>
          </div>
          <div class="d-flex flex-row align-items-end">
            <button type="button" class="btn btn-outline-primary" (click)="startGame()"
              style="margin: 1rem 0rem 0rem auto;">Start</button>
          </div>
        </div>
        <div class="card-body" id="solution-card-body" style="display:none; padding: 2rem;">
          <p class="game-instructions" id="intro-demo-text">Well, what took you <span
              class="accent-1">{{this.userFinishTime}}s</span> can take a computer <span class="accent-1">literally
              nothing.</span> One of my day to day tasks is telling a
            computer to do stuff like that for us efficiently. Don't believe me? Watch!</p>
          <p class="game-instructions" style="display:none;" id="final-demo-text"><span class="accent-1">Your time:
              {{this.userFinishTime}}s</span> vs <span class="accent-1">Computer Time:
              {{this.computerFinishTime}}s</span><br> Solving tasks
            like this lets us build webpages, games and mobile apps. <br>That is what I try my best at
            doing!<br><span class="accent-1">Enjoy the rest of my site!</span></p>
          <div class="d-flex flex-column align-items-center justify-content-center">
            <button type="button" class="btn btn-outline-primary" (click)="startDemo()"
              style="margin: 1rem 0rem 0rem auto;" id="demo-button">Start Demo!</button>
          </div>
          <h6 class="timer" style="display:none;" id="demo-timer">Timer: <span
              class="accent-2">{{this.timerString}}</span> s
          </h6>
          <div id="item-sol-list" cdkDropList cdkDropListOrientation="horizontal" class="items-list"
            (cdkDropListDropped)="drop($event)" style="display:none;">
            <div *ngFor="let number of this.numbersArray" [id]="'element_'+this.numbersArray.indexOf(number)"
              class="item-box" cdkDrag [cdkDragDisabled]="this.startBool"><span class="sm-text">{{number}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-flex flex-column" id="experience-page">
  <app-background [first]="false" [numberOfScreen]="1"></app-background>

  <div class="row d-flex flex-grow-1 align-items-center justify-content-center">
    <div id="experienceCarousel" class="card standard-card carousel slide" data-ride="carousel" data-aos="zoom-in-up">
      <ol class="carousel-indicators">
        <li data-target="#experienceCarousel" data-slide-to="0" class="active">
          <div class="d-flex flex-column">
            <span class="subtitle-text sm-text">Nowadays - Sept 2021</span>
            <span class="point"></span>
          </div>
        </li>
        <li data-target="#experienceCarousel" data-slide-to="1">
          <div class="d-flex flex-column">
            <span class="subtitle-text sm-text">Aug 2021 - Feb 2021</span>
            <span class="point"></span>
          </div>
        </li>
        <li data-target="#experienceCarousel" data-slide-to="2">
          <div class="d-flex flex-column">
            <span class="subtitle-text sm-text">Aug 2020 - Sept 2019</span>
            <span class="point"></span>
          </div>
        </li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row no-gutters">
            <div class="col-sm-5">
              <img src="../../assets/me-gopick.png" class="image-card">
            </div>
            <div class="col-sm-7">
              <div class="card-body justify-content-center">
                <div>
                  <h1 class="carousel-title " style="white-space: nowrap; margin: 2rem 0rem 0rem 0rem;"><span
                      class="accent-2">GoPick</span> - Backend Engineer</h1>
                </div>
                <div class="carousel-body-text">BODY</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row no-gutters">
            <div class="col-sm-5">
              <img src="../../assets/redsys-intern.png" class="image-card">
            </div>
            <div class="col-sm-7">
              <div class="card-body justify-content-center">
                <div>
                  <h1 class="carousel-title" style="white-space: nowrap; margin: 2rem 0rem 0rem 0rem;"><span
                      class="accent-2">Redsys</span> - Web Dev and BI</h1>
                </div>
                <div class="carousel-body-text">BODY</div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row no-gutters">
            <div class="col-sm-5">
              <img src="../../assets/fh-engineer.png" class="image-card">
            </div>
            <div class="col-sm-7">
              <div class="card-body justify-content-center">
                <div>
                  <h1 class="carousel-title" style="white-space: nowrap; margin: 2rem 0rem 0rem 0rem;"><span
                      class="accent-2">Fourthhub</span> - Lead Engineer</h1>
                </div>
                <div class="carousel-body-text">BODY</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-flex flex-column" id="projects-page">
  <app-background [first]="true" [numberOfScreen]="2"></app-background>
  <div class="row d-flex flex-grow-1 align-items-center justify-content-center">
    <div class="row">
      <div class="col">
        <div class="card standard-card" data-aos="flip-down">
          <div>
            <h1 class="project-title" style="white-space: nowrap; margin: 2rem 0rem 0rem 0rem;"><span class="accent-2">
                DailyWordBot</span> contribution</h1>
          </div>
          <div class="project-description">BODY</div>
        </div>
      </div>
      <div class="col">
        <div class="card standard-card" data-aos="flip-down">
          <div>
            <h1 class="project-title" style="white-space: nowrap; margin: 2rem 0rem 0rem 0rem;"><span
                class="accent-2">Personalweb </span>and Blog</h1>
          </div>
          <div class="project-description">BODY</div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="card standard-card" data-aos="flip-down">
          <div>
            <h1 class="project-title" style="white-space: nowrap; margin: 2rem 0rem 0rem 0rem;"><span
                class="accent-2">WWE </span>News</h1>
          </div>
          <div class="project-description">BODY</div>
        </div>
      </div>
      <div class="col">
        <div class="card standard-card" data-aos="flip-down">
          <div>
            <h1 class="project-title" style="white-space: nowrap; margin: 2rem 0rem 0rem 0rem;"><span
                class="accent-2">GoPick </span>Backend</h1>
          </div>
          <div class="project-description">BODY</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-flex flex-column" id="contact-page">
  <app-background [first]="false" [numberOfScreen]="3"></app-background>

  <div class="row d-flex flex-column flex-grow-1 align-items-center justify-content-center">
    <div class="subtitle-heading" style="margin-bottom: 4rem;">What colleagues say about me...
    </div>
    <div class="card standard-card container">
      <div class="slider">
        <div class="logos">
          <span>HELLO</span>
          <span>HELLO</span>
          <span>HELLO</span>
          <span>HELLO</span>
          <span>HELLO</span>
        </div>
        <div class="logos">
          <span class="second">HELLO</span>
          <span class="second">HELLO</span>
          <span class="second">HELLO</span>
          <span class="second">HELLO</span>
          <span class="second">HELLO</span>
        </div>
      </div>
    </div>
  </div>
</div>
