<div class="container-fluid d-flex flex-column" id="projects-page">
  <app-background [rightHex]="background.rightHex" [rightHexPos]="background.rightHexPos">
  </app-background>
  <div class="row d-flex align-items-center justify-content-center" style="height:100%">
    <div class="row" style="margin: 0">
      <div class="col-12 col-lg col-xl d-flex align-items-center justify-content-center">
        <div class="card standard-card project-card" data-aos="flip-down">
          <div>
            <h1 class="project-title" style="white-space: nowrap; margin: 2rem 0rem 1rem 1rem;"><span class="accent-2">
                DailyWord</span>Bot</h1>
          </div>
          <div class="row project-body">
            <div class="col-3">
              <img src="../../assets/cover/dailyWordBot.png" class="project-image" />
            </div>
            <div class="col-9">
              BODY
            </div>
            <div class="d-flex flex-row-reverse align-items-center col-12 project-footer">
              <img src="../../assets/cover/github-logo.png" class="tech-logo" />
              <img src="../../assets/cover/python-logo.png" class="tech-logo" />
              <img src="../../assets/cover/telegram-logo.png" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg col-xl d-flex justify-content-center">
        <div class="card standard-card project-card" data-aos="flip-down">
          <div>
            <h1 class="project-title" style="white-space: nowrap; margin: 2rem 0rem 1rem 1rem;"><span
                class="accent-2">Social Media</span> Sentiment API</h1>
          </div>
          <div class="row project-body">
            <div class="col-3">
              <img src="../../assets/cover/api-logo.png" class="project-image" />
            </div>
            <div class="col-9">
              BODY
            </div>
            <div class="d-flex flex-row-reverse align-items-center col-12 project-footer">
              <img src="../../assets/cover/gcp-logo.png" class="tech-logo" />
              <img src="../../assets/cover/compose-logo.png" class="tech-logo" />
              <img src="../../assets/cover/docker-logo.png" class="tech-logo" />
              <img src="../../assets/cover/github-logo.png" class="tech-logo" />
              <img src="../../assets/cover/nodejs-logo.png" class="tech-logo" />
              <img src="../../assets/cover/python-logo.png" class="tech-logo" />
              <img src="../../assets/cover/java-logo.png" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-12 col-lg col-xl d-flex justify-content-center">
        <div class="card standard-card project-card" data-aos="flip-down">
          <div style="display: inline-block">
            <h1 class="project-title" style="white-space: nowrap; margin: 2rem 0rem 1rem 1rem;"><span
                class="accent-2">Pro Wrestling</span> Sentiment</h1>
          </div>
          <div class="row project-body">
            <div class="col-3">
              <img src="../../assets/cover/pwsas.png" class="project-image" />
            </div>
            <div class="col-9">
              BODY
            </div>
            <div class="d-flex flex-row-reverse align-items-center col-12 project-footer">
              <img src="../../assets/cover/typescript-logo.png" class="tech-logo" />
              <img src="../../assets/cover/nodejs-logo.png" class="tech-logo" />
              <img src="../../assets/cover/nextjs-logo.png" class="tech-logo" />
              <img src="../../assets/cover/react-logo.png" class="tech-logo" />
              <img src="../../assets/cover/github-logo.png" class="tech-logo" />
              <img src="../../assets/cover/dynamodb-logo.png" class="tech-logo" />
              <img src="../../assets/cover/aws-logo.png" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!this.isMobile" class="col-12 col-lg col-xl d-flex justify-content-center">
        <div class="card standard-card project-card" data-aos="flip-down">
          <div>
            <h1 class="project-title" style="white-space: nowrap; margin: 2rem 0rem 1rem 1rem;"><span
                class="accent-2">Dixie Virtual</span> Assistant</h1>
          </div>
          <div class="row project-body">
            <div class="col-3">
              <img src="../../assets/cover/dixie.png" class="project-image" />
            </div>
            <div class="col-9">
              BODY
            </div>
            <div class="d-flex flex-row-reverse align-items-center col-12 project-footer">
              <img src="../../assets/cover/witai-logo.png" class="tech-logo" />
              <img src="../../assets/cover/speechtotext-logo.png" class="tech-logo" />
              <img src="../../assets/cover/github-logo.png" class="tech-logo" />
              <img src="../../assets/cover/sqlite-logo.png" class="tech-logo" />
              <img src="../../assets/cover/android-logo.png" class="tech-logo" />
              <img src="../../assets/cover/java-logo.png" class="tech-logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
