<div id="blog-page" class="container-fluid d-flex justify-content-center mobile-scroll" (swipe)="onSwipe($event)">
    <div class="row flex-grow-1" style="height:100%; overflow-y:auto; margin-top: 1rem; max-width: 80rem;">
        <div class="col-12 d-flex flex-column align-items-center"
            style="margin-top: 3.5rem; margin-left: auto; margin-right: auto;">
            <!-- HEADER TITLE CARD -->
            <div *ngIf="!this.authService.isUserLoggedIn()" class="card standard-card">
                <div id="message" class="card-body d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex align-items-center justify-content-center" style="gap: 0.5rem;">
                        <img src="../../assets/cover/ofg-logo-active.webp" class="header-logo" />
                        <h4 class="header-title" style="margin-top: 1rem">Blog</h4>
                    </div>
                    <span class="blog-text">
                        "Welcome to my blog! Living the life in my favorutie city of the world and with the cutest
                        and most heart-warming girlfriend possible. Expect anything at this blog, from restaurant
                        reviews
                        to technical blog posts discussing the latest tech in the software industry."
                    </span>
                    <div class="d-flex justify-content-between" style="width:100%;">
                        <div class="d-flex tag-box secondary" style="gap: 0.25rem" aria-label="Living in Madrid">
                            <fa-icon [icon]="locationIcon"></fa-icon>
                            <span class="accent-2">{{this.location}}</span>
                        </div>
                        <div class="d-flex tag-box secondary" style="gap: 0.25rem" aria-label="Learning Kotlin">
                            <fa-icon [icon]="searchIcon"></fa-icon>
                            <span class="accent-2">{{this.currentlyLearning}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LOGGED HEADER TITLE CARD -->
            <div *ngIf="this.authService.isUserLoggedIn()" class="card standard-card">
                <div class="card-header d-flex align-items-center justify-content-center" style="gap: 0.5rem;">
                    <img src="../../assets/cover/ofg-logo-active.webp" class="header-logo" />
                    <h4 class="header-title" style="margin-top: 1rem">Blog</h4>
                </div>
                <div id="message" class="d-flex card-body justify-content-between">
                    <span class="blog-text">
                        {{this.userName}} it is time to get creative or remove what feels unnecessary.
                        Rember that here you can write about your technical findings or your most interesting
                        experiences you would like to share with the world!
                    </span>
                    <a routerLink="/newpost">
                        <button class="btn btn-outline-primary">
                            <fa-icon [icon]="penIcon"></fa-icon>
                        </button>
                    </a>
                </div>
                <!--<div class="card-footer d-flex justify-content-between">
          <div class="d-flex tag-box secondary" style="gap: 0.25rem" aria-label="Living in Madrid">
            <fa-icon [icon]="locationIcon"></fa-icon>
            <span class="accent-2"><input placeholder={{this.location}} [(ngModel)]="this.location" /></span>
          </div>
          <div class="d-flex tag-box secondary" style="gap: 0.25rem" aria-label="Learning Kotlin">
            <fa-icon [icon]="searchIcon"></fa-icon>
            <span class="accent-2"><input placeholder={{this.currentlyLearning}}
                [(ngModel)]="this.currentlyLearning" /></span>
          </div>
        </div>-->
            </div>
            <!-- BLOG POST LIST-->
            <div class="posts-list">
                <div *ngFor="let cat of this.categories">
                    <a *ngFor="let post of this.categoryPosts.get(cat)" [routerLink]="['/detail', cat, post.id]"
                        class="list-group-item list-group-item-action flex-column align-items-start blog-card standard-card">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 blog-title">{{post.title}}</h5>
                            <div *ngIf="this.authService.isUserLoggedIn()">
                                <button class="btn btn-outline-primary" (click)="deletePost($event, post.id)">
                                    <fa-icon [icon]="trashCanIcon"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <p class="mb-1 blog-summary">{{post.summary}}</p>
                        </div>
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="tag-box">{{cat}}</div>
                            <div class="days-ago">{{post.daysAgoDate}}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>