#blog-page {
  min-height: 100vh;
  margin-top: 1rem;
}

#message {
  font-family: "Hind";
  color: #001E3E;
}

.posts-list {
  width: 100%;
  margin-bottom: 2rem;
}

.list-group-item {
  width: 100%;
  margin-top: 0.5rem;
}

.blog-card:hover {
  background-color: #4a598d94 !important;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* HEADER ROW */
.header-row {
  justify-content: space-evenly;
}

/* typography classes */
.blog-title {
  font-family: var(--titles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
  font-weight: 600;
}

.blog-text {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
  text-align: center;
  font-style: italic;
}

.blog-summary {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}

.date-published {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--secondary-color);
}

.tag-box {
  background-color: var(--main-color);
  padding: 0.25rem;
  border-left: 3px solid var(--accent-color-1);
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--accent-color-2);
}

.days-ago {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--accent-color-1);
}
