#blog-page {
  min-height: 100vh;
  background-image: url('../../assets/background/quarter-hexagon-top-left.webp'), url('../../assets/background/quarter-hexagon-bottom-right.webp');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

.header-logo {
  max-width: 6rem;
}

.header-title {
  font-family: var(--titles-font);
  font-size: var(--titles-size);
  color: var(--accent-color-2);
  font-weight: 600;
}

.location-container {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--secondary-color);
  gap: 0.5rem
}

#message {
  width: 100%;
  font-family: "Hind";
  color: #001E3E;
}

.posts-list {
  width: 100%;
  margin-bottom: 2rem;
}

.list-group-item {
  width: 100%;
  margin-top: 0.5rem;
}

.blog-card:hover {
  background-color: #4a598d94 !important;
}

/* HEADER ROW */
.header-row {
  justify-content: space-evenly;
}

/* typography classes */
.blog-title {
  font-family: var(--titles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
  font-weight: 600;
}

.blog-text {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}

.blog-summary {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}

.date-published {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--secondary-color);
}

.tag-box {
  background-color: var(--main-color);
  padding: 0.25rem;
  border-left: 3px solid var(--accent-color-1);
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
}

.days-ago {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--accent-color-1);
}

::ng-deep.heading-text {
  font-family: var(--titles-font);
  font-size: var(--titles-size);
  color: var(--accent-color-1);
}

::ng-deep.subtitle-text {
  font-family: var(--subtitles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
}

::ng-deep.body-text {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}

::ng-deep.fr-view .fr-class-code {
  font-size: var(--micro-body-size);
  border-color: var(--main-lighter-color);
  background: var(--main-color);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1rem;
}