#message {
  font-family: "Hind";
  color: #001E3E;
}

.list-group {
  max-height: 67.5rem;
  margin: 1rem 0rem 1rem 0rem;
  overflow: auto;
}

@media(max-width: 500px) {
  .list-group {
    max-height: 25rem;
    margin: 1rem 0rem 1rem 0rem;
    overflow: auto;
  }
}

.list-group-item {
  margin-top: 0.5rem;
}

.blog-card {
  border-top: 4px solid var(--accent-color-2);
}

.blog-card:hover {
  background-color: #4a598d94 !important;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* HEADER ROW */
.header-row {
  justify-content: space-evenly;
}

/* BODY ROW */
.body-row {
  height: 100vh;
  padding: 0rem 2.5rem 0rem 2.5rem;
}

/* typography classes */
.blog-title {
  font-family: var(--titles-font);
  font-size: var(--subtitles-size);
  color: var(--accent-color-1);
  font-weight: 600;
}

.blog-text {
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--secondary-color);
}

.date-published {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--secondary-color);
}

.category-label {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--accent-color-2);
}

.category-value {
  font-family: var(--body-font);
  font-size: var(--micro-body-size);
  color: var(--accent-color-1);
}
