/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Domine";
  src: local("Domine"), url(./assets/fonts/Domine/Domine-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/fonts/montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Hind";
  src: local("Hind"), url(./assets/fonts/hind/Hind-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Catamaran";
  src: local("Catamaran"), url(./assets/fonts/catamaran/Catamaran-Regular.woff) format("truetype");
}

html {
  scroll-snap-type: y mandatory;
}

:root {
  /* Theme color variables */
  --main-color: #16274d;
  --main-lighter-color: #1b2b50;
  --secondary-color: #f2f3f0;
  --accent-color-1: #ef9841;
  --accent-color-2: #817c5f;

  /* Typography variables */
  --titles-font: "Domine";
  --subtitles-font: "Montserrat";
  --body-font: "Catamaran";

  --titles-size: clamp(1rem, 4vw + 1rem, 5rem);
  --subtitles-size: max(1.5vw, 1.5rem);
  --body-size: 1.25rem;
  --micro-body-size: 1rem;

  /* some margins */
  --portfolio-rows-margin: -1.2rem;

  /* mobile devices vh */
  --height-of-slide: 100vh;
}

.accent-1 {
  color: var(--accent-color-1);
}

.accent-2 {
  color: var(--accent-color-2);
}

body {
  background-color: var(--main-color) !important;
}

#app-content {
  background-color: var(--main-color);
}

.page-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 0rem 0rem 0rem;
}

.page-subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 2rem 0rem 2rem;
}

.standard-card {
  width: 100%;
  background-color: #2f40668a !important;
}

.btn-outline-primary {
  font-family: "Catamaran";
  font-weight: bold !important;
  color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.btn-outline-primary:hover {
  background-color: #4a598d94 !important;
}

/* MICRO DEVICES */
@media (max-width: 280px) {
  :root {
    --body-size: 0.75rem;
    --micro-body-size: 0.5rem;
    --portfolio-rows-margin: 1.5rem;
    --height-of-slide: 93vh;
  }
}

/* SMALL DEVICES */
@media (min-width:281px) and (max-width:576px) {
  :root {
    --body-size: 1rem;
    --micro-body-size: 0.85rem;
    --portfolio-rows-margin: 1.5rem;
    --height-of-slide: 93vh;
  }
}

/* MEDIUM DEVICES */
@media (min-width:576px) and (max-width:768px) {
  :root {
    --body-size: 1rem;
    --micro-body-size: 0.85rem;
    --portfolio-rows-margin: -1.5rem;
  }
}

/* STANDARD VERSION DEVICES */
@media (min-width:768px) and (max-width:992px) {
  :root {
    --body-size: 1rem;
    --micro-body-size: 1rem;
    --portfolio-rows-margin: -1.5rem;
  }
}

/* LARGE DESKTOP DEVICES */
@media (min-width: 992px) and (max-width:1200px) {
  :root {
    --body-size: 1.25rem;
    --micro-body-size: 1rem;
    --portfolio-rows-margin: -1.5rem;
  }
}

/* EXTRALARGE DESKTOP DEVICES */
@media (min-width: 1200px) {
  :root {
    --body-size: 1.25rem;
    --micro-body-size: 1rem;
    --portfolio-rows-margin: -1.5rem;
  }
}
