/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: "Domine";
    src: local("Domine"), url(./assets/fonts/Domine/Domine-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "Hind";
    src: local("Hind"), url(./assets/fonts/hind/Hind-Regular.ttf) format("truetype");
}

@font-face{
    font-family: "Catamaran";
    src: local("Catamaran"), url(./assets/fonts/catamaran/Catamaran-Regular.woff) format("truetype");
}

html,body{
    height: 100vh;
    width: 100%;
}

#app-content {
    height: 100vh;
    background-color:#f6d1c1;
    overflow-y: scroll;
}

.page-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 0rem 0rem 0rem;
}

.page-subtitle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 2rem 0rem 2rem;
}

.standard-card{
    margin: 2rem 0rem 0rem 0rem;
    width: 100%;
}

.title-text{
    font-family: "Domine";
    color: #557d48;
}

.subtitle-text{
    font-family: "Montserrat";
    color: #f9655b;
}

.body-text{
    font-family: "Catamaran";
    color: #557d48;
}